{% extends 'wrapper.html' %}
{% block title %}Home{% endblock %}

{% block content %}


<div class="container">

    <div class="mt-5">
        <span class="h2">{{ question }}</span> <span class="m-2 p-2" style="font-size: 12px;border-radius: 20px;background: #A82400;">
            {% set q =  question.replace(" ", "-")  %}
			{% set qq = q|urlencode %}
             <a href="/add-answer/{{ qid }}/{{ qq }}" style="text-decoration: none;color:white">Add Answer</a> </span> 
    </div>
    <hr>
    <div class="mt-1 p-1">
        <h4>Answers</h4>
        <div class="mt-4">

            {% if answers|length < 1 %}
			<p>No answer available</p>
            {% else %}
                {% for answer in answers %} 
                <p class="card p-2 mt-2 col-md-4">
                    {{answer[2]}}
                </p>
			    {% endfor %}
            {% endif %}
            
        </div>
    </div>
</div>


{% endblock %}